.deals{
    height: 300px;
    width: 250px;
    background-color: rgba(128, 128, 128, 0.447);
    margin: 10px;
    border-radius: 5px;
}
.deals h3{
    padding: 15px;
    margin-bottom: -5px;
}
.deals-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.deals-details span{
    padding: 10px;

}
.deals-details p{
    padding-right: 10px;
}