.card{
    display: flex;
    width: 950px;
    flex-wrap: wrap;
    margin: 5px 20px;
    /* border: 2px solid black; */
}

.product{
    height: 220px;
    width: 270px;
    border: 2px solid rgba(128, 128, 128, 0.285);
    margin: 20px;
    border-radius: 3px;
      
    
}

.product img{
    height: 100px;
    width: 200px;
    margin: 20px 10px 20px 34px;
}
.image-details{
    position: relative;
}
.image-details p{
    position: absolute;
    top: -18px;
    left: -2px;
    border: 2px solid red;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.product h4{
    margin-top: -5px;
    text-align: center;
}
.review{
    text-align: center; 
    margin: -15px;
}
.review span{
   font-size: 12px;
  
}
.review-details{
    color: gold;
    padding: 3px;
}
.product-details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.product-details h3{
    font-size: 18px;
    color: blue;
    padding-right: 20px;
}
.product-details span{
    padding-right: 5px;
    font-size: 13px;
}
.product-details p{
    padding-right: 5px;
    font-size: 15px;
    color: red;
}
.card-down{
    display: flex;
    margin-top: -15px;
    height: 39px;
    justify-content: center;
    align-items: center;
     width: 970px;
    background-color: rgba(128, 128, 128, 0.107);
    border-radius: 5px;
    gap: 40px;
    margin-top: -4px;
}
.card-down .s{
    background-color: rgba(100, 179, 239, 0.918);
    padding: 10px;
}
@media screen and (max-width: 480px){
    .product{
    display: none;
    }
    .card-down{
        display: none;
    }
}